.collection-item {
  display: flex;
  justify-content: space-between;
}

.material-icons {
  cursor: pointer;
  margin-right: 5px;
}

.vote-box {
  display: flex;
  align-items: center;
}

.background {
  background-image: "../images/bird1.png";
  /* background-color: aquamarine; */
}